{% extends 'base.html' %} {% block head %}
<style>
  .box {
    width: 350px;
    min-height: 100px;
    margin: 100px auto 0 auto;
    border: 1px solid #dddddd;
    padding: 0 20px 20px;
  }

  .box h3 {
    text-align: center;
  }
</style>
{% endblock head %} {% block content %}

<div class="box">
  <h3>登录账号</h3>

  <form id="login-form">
    <div class="form-group">
      <label for="user">用户名</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="请输入用户名..."
        required
      />
    </div>
    <div class="form-group">
      <label for="password">密码</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="请输入密码..."
        required
      />
    </div>
    <!-- <div class="form-group">
        <label for="checkcode">验证码</label>
        <div class="row">
            <div class="col-xs-7">
                   <input
                    type="text"
                    class="form-control"
                    id="checkcode"
                    placeholder="请输入验证码..."
                  />     
            </div>
            <div class="col-xs-5">
              <img src="/static/images/check.png" alt="验证码" style="width: 65px;">
            </div>
        </div> -->
        <button type="submit" class="btn btn-primary">登录</button>
      </div>
    
  </form>
  
</div>
<script src="{{ url_for('static', path='js/login.js') }}"></script>
{% endblock content %}
